.navbar {
  width: 270px;
  height: 140vh; /* full viewport height */
  background-color: #12172F;
  padding: 20px;
  box-shadow: #333;
}

.nav-list {
 
  color: 	#A7B0CA;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 50px; /* space between items */
}
.btn1{
   color: 	#A7B0CA;
   background: #12172F;
   border:10px solid transparent;
   font-size: large;
   display: flex ;
   place-items: center;
   gap: 10px;
}
.btn1:hover{
   color: white;
   background: #9B78F9;
   border-right-width: 120px;
    transition: 0.3s;
    border-radius: 8px;
    cursor: pointer;
}

.nav-title-container {
  margin-bottom: 50px ;
}
.nav-title {
  color: #9B78F9;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.nav-subtitle {
  color:#7C8DAA;
  font-size: 16px;
  margin-bottom: 10px;
}
.logoutNav{
  margin-top: 100px;
  
}
.logout-button{
  color: #A7B0CA;
  background: #12172F;
  border: 10px solid transparent;
  font-size: large;
  display: flex;
  place-items: center;
  gap: 10px;
}
.logout-button:hover {
  color: white;
  background: #9B78F9;
  border-right-width: 120px;
  transition: 0.3s;
  border-radius: 8px;
  cursor: pointer;
}